:root {
    --width: 550px;
    --font-size: 1.4rem;
    --height: 314px;
}

@media only screen and (max-width: 750px){
    :root {
         --width: 450px;
    }
}

@media only screen and (max-width: 600px){
    :root {
         --width: 350px;
    }
}

@media only screen and (max-width: 500px){
    :root {
         --width: 290px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url(../bgimg/europebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    padding: 20px 20px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 800px;
    height: auto;
    background-color: black;
    border: 1px solid rgb(116, 143, 168);
    font-size: 3rem;
} 

.container2 {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: auto;
    background-color: black;
    padding: 20px 30px 30px 30px;
    border: 1px solid rgb(116, 143, 168);
    font-size: 1rem;
    color: rgb(116, 143, 168);
    line-height: 1.2;
} 

@media only screen and (max-width: 750px){
    .container, .container2 {
         width: 550px;
    }
}

@media only screen and (max-width: 600px){
    .container, .container2 {
         width: 420px;
    }
}

@media only screen and (max-width: 500px){
    .container, .container2 {
         width: 360px;
    }
}

@media only screen and (max-width: 400px){
    .container, .container2 {
         width: 100%;
    }
    .wrapper {
        padding: 10px;
    }
}

@media only screen and (max-width: 350px){
    .wrapper {
        padding: 0px;
    }
}

/* ---------------------------------- Header ------------------------------------- */

.europe {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 550px;
    height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(116, 143, 168);
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 4px;
}

@media only screen and (max-width: 750px){
    .europe {
        font-size:1.8rem; 
        padding-top: 30px;
        padding-bottom: 30px; 
        width: 450px;
    }
}

@media only screen and (max-width: 600px){
    .europe {
        font-size:1.6rem; 
        padding-top: 30px;
        padding-bottom: 30px; 
        letter-spacing: 2px; 
        width: 350px;
    }
}

@media only screen and (max-width: 500px){
    .europe {
        font-size: 22px;
        padding-top: 25px;
        padding-bottom: 25px; 
        letter-spacing: 2px; 
        width: 290px;
    }
}

@media only screen and (max-width: 400px){
    .europe {
        font-size: 20px; 
        padding-top: 25px;
        padding-bottom: 25px; 
        letter-spacing: 3px; 
    }
}

/* ---------------------------------- Search bar ------------------------------------- */
.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--width);
    border: 1px solid  rgb(116, 143, 168);
}

.searchField {
    width: 100%;
    height: 30px;
    border-style: none;
    outline: none;
    background-color: black;
    color: rgb(116, 143, 168);
    padding-left: 10px;
}

input::placeholder {
    color: rgb(64, 93, 121);
}

.searchBtn {
    top: 0;
    right: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    border-style: none;
    outline: none;
    background-color: rgb(116, 143, 168);
    color: black;
    font-size: 1rem;
}

@media only screen and (max-width: 600px){
    .searchBtn {
        font-size: .8rem;
        width: 80px;
    }
}

@media only screen and (max-width: 500px){
    .searchBtn {
        font-size: .8rem;
        width: 70px;
    }
}

/* ---------------------------------- List of all european countries ------------------------------------- */

.allCountriesBtn {
    margin-left: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: var(--width);
    height: 38px;
    color: rgb(116, 143, 168);
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.allCountriesBtn::-webkit-scrollbar-track
{
  background-color: rgb(0, 0, 0);
}

.allCountriesBtn::-webkit-scrollbar
{
  height: 5px;
  width: 10px;
  background-color: #F5F5F5;
}

.allCountriesBtn::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  background-color: rgb(98, 124, 163);
}

.allCountriesBtn {
  scrollbar-width: thin;         /* "auto" or "thin" */
  scrollbar-color: rgb(107, 128, 167) rgb(0, 0, 0);   /* scroll thumb and track */
}

/* ---------------------------------- Number, name and flag ------------------------------------- */

.countries {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    width: var(--width);
    height: 20px;
} 

.country {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color:  rgb(116, 143, 168);
    font-size:var(--font-size);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 510px){
    .countries {
         font-size: 1rem;
         padding-top: 20px;
         padding-bottom: 20px;
    }
}

@media only screen and (max-width: 510px){
    .country {
         font-size: 1rem;
    }
}

.flag {
    display: block;
     width: 30px;
}

/* ---------------------------------- Big picture ------------------------------------- */

.imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    color: white;
    font-size: large;
}

.bgImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height:var(--height);
}

@media only screen and (max-width: 750px){
    .box {
       height: 257px;
    }
}

@media only screen and (max-width: 600px){
    .box {
       height: 200px;
    }
}

@media only screen and (max-width: 500px){
    .box {
       height: 165px;
    }
}

/* ---------------------------------- Prev and Next buttons ------------------------------------- */

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    outline: 'none';
    border: 2px solid rgb(116, 143, 168);
    background-color: rgb(0, 0, 0);
    color: rgb(116, 143, 168);
    cursor: pointer;
}

/* ---------------------------------- Info, mini map, map overlay pop-up  ------------------------------------- */

.infoBox {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: var(--width);
    height: 89px;
}


.information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  rgb(116, 143, 168);
    font-size:1rem;
    padding-top: 1px;
    padding-bottom: 2px;
}

@media only screen and (max-width: 510px){
    .information {
         font-size: .9rem;
    }
}

.map {
    padding-top: 20px;
    cursor: pointer;
}

.mapOverlay {
    position: absolute; /* container2 position: relative */
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(0, 0, 0, .7);
    /* padding: 0 20px 0 20px; */
    width:100%; 
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.overlayTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1%;
    font-size: 1rem;
    font-weight: bold;
    color:rgb(116, 143, 168);
    margin-top: 10px;
    letter-spacing: 5px;
}

.popup {
    max-width: 800px;
    padding: 0 20px 0 20px;
    height: auto;
}

@media only screen and (max-width: 750px){
    .popup, .mapOverlay {
        width: 530px;
    }
}

@media only screen and (max-width: 600px){
    .popup, .mapOverlay {
        width: 410px;
        align-items: center;
    }
    .overlayTitle {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 500px){
    .popup, .mapOverlay {
        width: 100%;
    }
}

@media only screen and (max-width: 360px){
     .popup, .mapOverlay, .container {
         width: 100%;
    }
}

/* ---------------------------------- Read more link  ------------------------------------- */

.readmore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    padding: 5px 0 15px 0;
    font-size: 1rem;
    color: rgb(116, 143, 168);
    border-bottom: 2px solid  rgb(116, 143, 168);
    margin-bottom: 30px;
    margin-top: 15px;
    cursor:pointer;
}

@media only screen and (max-width: 510px){
    .readmore {
         font-size: .9rem;
    }
}


/* ---------------------------------- Weather report  ------------------------------------- */

.weatherHeader {
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: var(--width);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(116, 143, 168);
    font-size:var(--font-size);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid rgb(116, 143, 168);
}

@media only screen and (max-width: 510px){
    .weatherHeader {
         font-size: 1rem;
    }
}

.currentWeather {
    width: var(--width);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.weatherData{
   width: var(--width);
   height: 90px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-start;
   color: rgb(116, 143, 168);
   font-size: 1rem;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-bottom: 30px;
}

@media only screen and (max-width: 750px){
   .weatherData {
       height: 80px;
    }
}

@media only screen and (max-width: 510px){
    .weatherData {
         font-size: .9rem;
         margin-bottom: 10px;
    }

    
}

.data  {
    width: 100%;
    display:grid;
    grid-template-columns: 20% 25% 34% 21%;
    color:rgb(116, 143, 168);
}

.data1 {
    display:flex;
    align-items: center;
}
.data2 {
    display:flex;
    align-items: center;
    justify-content: center;
}
.data3 {
    display:flex;
    align-items: center;
    justify-content: center;
}
.data4 {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.chart  {
    width: 100%;
    display:grid;
    grid-template-columns: 20% 25% 34% 21%;
    color:rgb(116, 143, 168);
}

.chart1 {
    display:flex;
    align-items: center;
   
}
.chart2 {
    
    display:flex;
    align-items: center;
    justify-content: center;
}
.chart3 {
    
    display:flex;
    align-items: center;
    justify-content: center;
}
.chart4 {
   
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    width: 50px;
}

.loader {
    width: 100%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 80px;
    height: 80px;
}

.loadMessage {
    color: red;
    font-size: 1rem;
}

@media only screen and (max-width: 510px){
    .loadMessage {
         font-size: .8rem;
    }
}


/* ---------------------------------- Read more page  ------------------------------------- */

.wrapper2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    padding: 20px 20px;
}

.back {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.readmoreBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
    background-color:  rgb(116, 143, 168);
    padding: 5px;
}

.readmoreLink {
    text-decoration: none;
}

.storyHeader {
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
     border-bottom: 1px solid  rgb(116, 143, 168);
     margin-bottom: 10px;
}

.history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.historytitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.5rem;
     color: rgb(116, 143, 168);
}

.story {
    white-space: pre-wrap;
}

.arms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.armsPic {
    width: 80px;
}


/* scrollbar styling */

body::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 3px rgba(0, 4, 15, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 4, 15, 0.5); */
  background-color: rgb(12, 12, 12);
}

body::-webkit-scrollbar
{
  width: 12px;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0, 11, 34);
  box-shadow: inset 0 0 8px rgb(0, 11, 34);
  background-color: rgb(80, 80, 80);
}
